# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
.devcontainer/devcontainer-lock.json

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# KiCad stores it's local autosaves in a git repo, which is not really useful to include in the main project repo.
/**/.history/

# dxf plots are always disposable
/**/fab/*.dxf

# Gitignore settings for ESPHome
/**/.esphome/
/**/secrets.yaml

# annoyingly, ESPHome creates a .gitignore in every folder in which it builds.
/parts/**/.gitignore

# Sketchup
*.skb


#/parts/**/fab/*.zip
parts/env-sensor/fab/env sensor.02.svg
